# Ignore everything and selectively allow files
*

# Allow project files
!.deepsource.toml
!.github/**/*
!.gitignore
!.golangci.yml
!.goreleaser.yml
!CODEOWNERS
!CODE_OF_CONDUCT.md
!Dockerfile
!htmltest.yml
!LICENSE
!mkdocs.yml
!README.md
!Taskfile.yml

# Allow Nix files
!.envrc
!flake.nix
!flake.lock

# Allow Go files
!*.go
!*.tape
!go.sum
!go.mod

# Recurse through sub-directories applying the same patterns
!*/
